.card {
  box-shadow: 2px 4px 20px black;
  border: 1px solid whitesmoke;
  transition: 0.3s;
  width: 400px;
  height: 100%;
  text-align: center;
  margin: auto;
  
  
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.cardContainer {
  padding: 2px 16px;
}